.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;

    backface-visibility: hidden; /* is back part visible when we transform an element */
    
    &--main {
        display: block; /* create line breaks before and after -- occupy whole width */
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        animation-name: moveInLeft; /* mandatory for animation to work */
        animation-duration: 1s; /* mandatory for animation to work */
        animation-timing-function: ease-out;
        /* animation-delay: 3s; */
        /* animation-iteration-count: 3 */
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
    
        animation-name: moveInRight;
        animation-duration: 1s;
    }
}

